body{
    width: 96%;
    margin-left: 2%;
}
header{
    height: 150px;
    border-radius: 5px;
    background: #ccccff
}
button{
    width: 240px;
    margin: 0px;
    cursor: pointer;
    background: #fcb928;
    padding: 7px 5px;
    border: 1px solid #6666ff;
}

textarea.text-area{
    width: 950px;
    margin-left: 10px;
    margin-bottom: 5px;
    background: #d1dba5;
    border: 3px solid rgba(40, 59, 63, 0.74);
    border-radius: 5px;
}

#top-image{
    height: 130px;
    width: 130px;
    top: 20px;
    background: #6699ff;
    position: absolute;
    left: 5%;
    border-radius: 5px;
}
#user-panel{
    position: absolute;
    top: 20px;
    right: 5%;
    padding: 10px;
    background: #9999ff;
    border-radius: 5px;
}
#user-panel img{
    width: 25px;
    height: 25px;
}
#main{
    margin-top: 3px;
}
#main .leftAside{
    float: left;
    position: relative;
    width: 250px;
    background: #ccccff;
    border-radius: 5px;
    height: 100%;
}
#main .leftAside p{
    width: 96%;
    margin-left: 2%;
    text-align: justify;
}
#main .leftAside h2{
    margin: 2% 0 0 2%;
    width: 96%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #76a5fc;
    text-align: center;
}

footer{
    height: 80px;
    background: #6184aa;
    border-radius: 0px 0px 5px 5px;
    vertical-align: central;
}
footer div{
    padding-top: 35px;
    font-weight: bold;
    padding-left: 10px;
}
footer span {
    margin-right: 15px;
}